<div class="home">
    <h1>Welcome <%= Admin.name%></h1>
        <h4><%=Admin.name%></h4>
        <h4><%=Admin.email%></h4>
        <h4><%=Admin.mobile%></h4>
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/logout">logout</a>
</div>
