<div class="admin_login">
    <h1>Admin login</h1>

<% if (typeof message !== "undefined") { %>
<h4><%= message %></h4>
<% } %>

<form action="" method="post">
    <input type="email" name="email" placeholder="Enter the email" />
    <input type="password" name="password" placeholder="Enter the password" />
    <input type="submit" value="Login" />
</form>

</div>