<div class="edit">
    <h1>Edit info</h1>

    <form action="" method="post">
        <input type="name" name="name" value="<%= user.name%>" placeholder="Enter the name" />
        <input type="email" name="email" value="<%= user.email%>" placeholder="Enter the email" />
        <input type="mobile" name="mobile" value="<%= user.mobile%>" placeholder="Enter the mobile" />

        <input type="hidden" name="id" value="<%= user._id%>" />
        <input type="submit" value="Update User" />
    </form>

    <a href="/home/">Go to Home</a>
</div>
