<div class="home">
    <h1>welcome Home</h1>

    <h4><%= User.name %></h4>
    <h4><%= User.email %></h4>
    <h4><%= User.mobile %></h4>
    <a href="/edit-info?id=<%= User._id %>">Edit</a>
    <a href="/logout">Logout</a>
</div>
